<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="privateChatDb" connectionString="Data Source=|DataDirectory|privateChatDb.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <add name="privateChatDb" connectionString="persist Security Info=False;Integrated Security=true;Initial Catalog=privateChatDb;Data Source=HOME-PC\SQLEXPRESS" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>-->
  </entityFramework>
  
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>