<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="privateChatDb" connectionString="Data Source=|DataDirectory|privateChatDb.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>