@model IEnumerable<Core.Models.User.UserModel>

@{
    ViewBag.Title = "ShowUserList";
}
<h2>Chat with</h2>

@foreach (var us in Model)
{
    <button class="btn btn-default userToChat" data-id="@us.HashId" type="submit">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        @us.Name
    </button>
}

@section scripts{
    <script type="text/javascript">
        $(".userToChat").on("click", function () {
            window.location = '@Url.Action("StartChatWith", "PrivateChat")' + "/" + $(this).data("id");
        });
    </script>
}

